* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(2, 16, 26);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #bbd7ff, #cacdf2, #d3c5e2, #d5bfd2, #d1bac4);
}
.fullpage {
  padding: 1rem;
  min-height: fit-content;
  height: 100vh;
}
/*********** header ***************/
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(3, 31, 48);
  color: white;
  height: 5vh;
  align-items: center;
  padding: 1rem;
}
.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav ul li a, .header .logo a, .heroBanner a {
  text-decoration: none;
  color: white;
  gap: 2rem;
}
.nav ul li a:hover{
  text-decoration: underline;
  color: white;
  gap: 2rem;
}
/* ************Home page************* */
.heroBanner {
  background-color: rgb(17, 59, 0);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  color: white;
}
.homelinks {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.homebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28vw;
  height: 15vh;
  min-height: 10rem;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  min-width: 15rem;
  max-width: 20rem;
}
/* ***********Recipes************* */
.recipespage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbar {
  width: 20rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.recipes{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.recipe {
  width: 15rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  overflow: hidden;
}
.recipe p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.imgcontainer {
  height: 10rem;
  background-color: white;
  width: 100%;
}
.imgcontainer img {
  height: 10rem;
  width: 100%;
  filter: grayscale(40%);
  transition: 0.2s ease-in-out;
}
.recipe:hover {
  .imgcontainer img{
     filter: grayscale(0%)
  }
 ;
}
.flag img {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height:3rem;
  width: 3rem;
  z-index: 99;
  border-style: none;
  border-width:1.5px;
  background-color: rgba(255, 255, 255, 0);
}
.fullpage .single {
  display: flex;
  flex-direction: column;
  position: relative;
}
.tophalf {
  display: flex;
  padding-bottom: 2rem;
}
.tophalf .imgcontainerSingle {
  width: 45%;
  margin: 0 auto;
}
.tophalf .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
  margin: 0 auto;
}
.bottomhalf {
  display: flex;
  min-height: fit-content;
}
.bottomhalf .ingredients {
  width: 45%;
  margin: 0 auto;
}
.bottomhalf .instructions {
  width: 45%;
  margin: 0 auto;
}
.ingredients ul {
  list-style: none;
}

/* ******************Recipes Single************ */
.fullpage h1 {
  text-align: center;
}
.imgcontainerSingle img {
  width: 100%;
  margin: 0 auto;
}
/* ******************Form******************** */
.form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-width: 20rem;
  margin: 0 auto;
  padding: 2rem;
  gap: 1rem;
}
.form textarea, .form input {
  border-style: none;
  height: 2rem;
}
.form textarea {
  height: 5rem;
}
.form h2 {
  text-align: center;
}