* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(2, 16, 26);
}
.form {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
}
.fullpage {
  height:95vh;
  padding: 1rem;
}
/*********** header ***************/
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(3, 31, 48);
  color: white;
  height: 5vh;
  align-items: center;
  padding: 1rem;
}
.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav ul li a, .header .logo a, .heroBanner a {
  text-decoration: none;
  color: white;
  gap: 2rem;
}
.nav ul li a:hover{
  text-decoration: underline;
  color: white;
  gap: 2rem;
}
/* ************Home page************* */
.heroBanner {
  background-color: rgb(17, 59, 0);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  color: white;
}
.homelinks {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.homebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28vw;
  height: 15vh;
  min-height: 10rem;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  min-width: 15rem;
  max-width: 20rem;
}
/* ***********Recipes************* */
.recipes{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.recipe {
  width: 15vw;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.imgcontainer {
  height: 25vh;
  background-color: white;
  width: 100%;
}