* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(2, 16, 26);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(to top, #fff0da, #ffffff);
}
.fullpage {
  padding: 1rem;
  min-height: fit-content;
  min-height: 95vh;
  height: fit-content;
}
/*********** header ***************/
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 5vh;
  align-items: center;
  padding: 1rem;
}
.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav ul li a,
.header .logo a,
.heroBanner a {
  text-decoration: none;
  gap: 2rem;
  color: white;
}
.nav ul li a:hover {
  text-decoration: underline;
  color: white;
  gap: 2rem;
}
.active {
  color: yellow;
  font-weight: bold;
}
/* ************Home page************* */
.heroBanner {
  background-color: rgb(17, 59, 0);
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  color: white;
  position: relative;
}
.heroBanner video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homelinks {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.homebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28vw;
  height: 15vh;
  min-height: 10rem;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  min-width: 15rem;
  max-width: 20rem;
}
/* ***********Recipes************* */
.recipespage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbar {
  width: 20rem;
  height: 2rem;
  padding-left: 0.5rem;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.recipes {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.recipe {
  width: 15rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
.recipe p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
}
.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.imgcontainer {
  height: 10rem;
  background-color: white;
  min-width: 15rem;
  width: 100%;
}
.imgcontainer img {
  height: 10rem;
  width: 100%;
  filter: grayscale(40%);
  transition: 0.2s ease-in-out;
}
.recipe:hover {
  .imgcontainer img {
    filter: grayscale(0%);
  }
}
.flag img {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 3rem;
  width: 3rem;
  z-index: 99;
  border-style: none;
  border-width: 1.5px;
  background-color: rgba(255, 255, 255, 0);
}
/* ******************Recipes Single************ */
.fullpage .single {
  display: flex;
  flex-direction: column;
  position: relative;
}
.backButton {
  border-style: none;
  height: 1.5rem;
  width: 7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.backButton:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}
.tophalf {
  display: flex;
  padding-bottom: 2rem;
  position: relative;
}
.tophalf .imgcontainerSingle {
  width: 45%;
  margin: 0 auto;
}
.tophalf .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.bottomhalf {
  display: flex;
  min-height: fit-content;
  border-top-style: solid;
}
.bottomhalf .ingredients {
  width: 45%;
  margin: 0 auto;
}
.bottomhalf .instructions {
  width: 45%;
  margin: 0 auto;
}
.ingredients,
.instructions {
  padding-top: 1rem;
}
.instructions h2 {
  margin-bottom: 1rem;
}
.ingredients ul {
  list-style: none;
}
.instructions ul {
  list-style: decimal;
}
.imgcontainerSingle img {
  max-height: 50vh;
  margin: 0 auto;
}
.list li {
  margin-top: 1rem;
}
/* ******************Form******************** */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.form h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-top: 1rem;
}

input[type="text"],
select,
textarea {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}

select option[disabled] {
  display: none;
}

button[type="button"] {
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}

button[type="submit"] {
  background-color: #000000;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
  transition: 0.2 ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3a3a3a;
}

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.selectIngredient {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
